<li>
    <a>
        <div class="number"></div>
        <div class="story">
            <b>Last refreshed: {{time_ago}}</b>
            <span class="metadata">
                {{visit_count}} {{i_visit}} total
            </span>
        </div>
    </a>
</li>
